@model IEnumerable<UnivDBWebApplication.Course>

@{
    ViewData["Title"] = "Search";
}

<h1>Search Results</h1>

<p>
    <a asp-action="Index">Back to Full List</a>
</p>

@if (Model.Any())
{
        <table class="table">
            <thead>
                <tr>
                    <th>
                    @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th>
                    @Html.DisplayNameFor(model => model.CreditsNumber)
                    </th>
                    <th>
                    @Html.DisplayNameFor(model => model.Department)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                        <tr>
                            <td>
                        @Html.DisplayFor(modelItem => item.Title)
                            </td>
                            <td>
                        @Html.DisplayFor(modelItem => item.CreditsNumber)
                            </td>
                            <td>
                        @Html.DisplayFor(modelItem => item.Department.DepartmentId)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.CourseId">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.CourseId">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.CourseId">Delete</a>

                            </td>
                        </tr>
            }
            </tbody>
        </table>
}
else
{
        <p>No results found.</p>
}
